@media (prefers-reduced-motion:no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 600px) {
  #code-block {
    margin: 25px auto;
    overflow: scroll;
  }

  #code-output {
    margin: 25px auto;
    overflow: scroll;
  }

  .table-wrap {
    overflow: scroll;
  }
}


body {
  background-color: #1b1b32;
  top: 0;
  margin-top: 5px;
}

header {
  width: 100%;
  block-size: fit-content;
}

.header {
  background-color: #f1f1f8;
  color: #1b1b32;
  border-radius: 9px;
  display: flex;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1b1b32;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle:checked ~ .menu-nav {
  display: block;
}

.menu-toggle:checked ~ .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked ~ .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked ~ .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.menu-nav {
  background-color: #d0d0d5;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.menu-nav li {
  list-style: none;
  margin: 10px 10px 10px;
}

.menu-nav li a {
  text-decoration: none;
  color: #1b1b32;
  font-weight: 500;
  font-family: Trebuchet, sans-serif;
}

.menu-nav li a:hover {
  color: #434771;
}

.menu-nav li div {
  background-color: #8585a5;
  padding: 5px 10px;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

#main-doc {
  /*background-color: #000000;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 100%;
  z-index: -1;
}

.main-section {
  background-color: #f1f1f8;
  color: #1b1b32;
  font-family: Helvetica, sans-serif;
  width: 90%;
  margin-top: 10px;
  position: relative;
}

.main-section h2:not(.h-output) {
  margin: 20px auto 5px 30px;
  font-size: 28px
}

.main-section p:not(.p-output) {
  font-size: 17px;
  margin: 15px 30px;
  text-align: left;
  line-height: 1.5rem;
}

#Introduction {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#HTML_Code_Output {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 50px;
  overflow: hidden;
}

.header-break {
  height: 0;
  display: flex;
  margin: 0 auto;
  width: 99%;
  border-top: double 7px #1b1b32;
}

.more-info {
  display: block;
  margin-top: 5px;
}

.code-rep {
  background-color: #d0d0d5;
  border-radius: 5px;
}

.table-wrap {
  width: 85%;
  background-color: #ffffff;
  margin: 30px auto 0;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

.table-wrap #caption {
  font-size: 20px;
  text-align: left;
  color: #094182;
}

.row-head {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background: #1b1b32;
  color: #fff;
  padding: 9px 3%;
  margin: 7px -2px;
}

.row-head span {
  font-weight: 700;
  margin-right: 20px;
}

.name {
  width: 25%;
}

.representation {
  width: 25%;
}

.function {
  width: 50%;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.sr-only:first-child {
  width: 25%;
}

.sr-only:nth-child(2) {
  width: 25%;
}

.sr-only:nth-child(3) {
  width: 50%;
}

tbody tr th {
	width: 25%;
    }
tbody tr td:first-child {
	width: 25%;
    }
tbody tr td:nth-child(2) {
	width: 50%;
}

#code-block {
  width: 80%;
  background-color: #1b1b32;
  color: #ffffff;
  margin: 25px 60px;
  padding: 15px 15px 90px;
}

.newline {
  display: block;
}

.comment {
  color: grey
}

.element {
  color: green;
}

.attribute {
  color: red;
}

.value {
  color: blue;
}

#code-output {
  background-color: white;
  color: black;
  width: 80%;
  margin: 25px 60px;
  padding: 30px 30px 50px; 
  font-family: Times New Roman;
  overflow: scroll;
}

#title{
  text-align: left;
  font-size: 32px;
}

footer {
  background-color: #f1f1f8;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: fit-content;
  padding-bottom: 10px
}

#footer {
/*background-color: red;*/
  width: 95%;
  margin: 0;
}

.start-note{
  text-align: center;
  color:  #1b1b32;
  font-family: Helvetica, sans-serif;
  margin-bottom: 2px;
  font-size: 18px;
  margin-top: 13.5px;
}

#footer p a {
  font-weight: 750;
  text-decoration: none;
  color: #1b1b32;
}

#footer p a:hover {
  color: #434771;
}

#social-icons {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 0;
  padding-left: 0;
}

#social-icons img {
  width: 25px;
  height: 25px;
  margin: 5px 0 2px 15px;
}

#end-note {
  margin: 10px auto;
  font-size: 15px;
  font-style: italic;
  font-family: Trebuchet MS, san-serif;
  text-align: center;
}

#endlink {
  color: #1b1b32d7;
  text-decoration: none;
  font-weight: 600;
}

#endlink:hover {
  color: #1b1b32f0;
}

#HTML_Elements::-webkit-scrollbar, #HTML_Attributes::-webkit-scrollbar, #HTML_Code_Example::-webkit-scrollbar, #HTML_Code_Output::-webkit-scrollbar{
  background-color: #f5f5f5;
}

#HTML_Elements::-webkit-scrollbar, #HTML_Attributes::-webkit-scrollbar, #HTML_Code_Example::-webkit-scrollbar, #HTML_Code_Output::-webkit-scrollbar{
  background-color: #f5f5f5;
  width: 0px;
}

#HTML_Elements::-webkit-scrollbar, #HTML_Attributes::-webkit-scrollbar, #HTML_Code_Example::-webkit-scrollbar, #HTML_Code_Output::-webkit-scrollbar{
  background-color: #d0d0d5;
  border-radius: 7px;
  min-height: auto;
}
